<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="teacher">
      <h2 data-cy="teacherDetailsHeading"><span ceetTranslate="proyectoSosApp.teacher.detail.title">Teacher</span></h2>

      <hr />

      <ceet-alert-error></ceet-alert-error>

      <ceet-alert></ceet-alert>

      <dl class="row-md jh-entity-details">
        <dt><span ceetTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ teacher.id }}</span>
        </dd>
        <dt><span ceetTranslate="proyectoSosApp.teacher.ceetUser">Ceet User</span></dt>
        <dd>
          <div *ngIf="teacher.ceetUser">
            <a [routerLink]="['/ceet-user', teacher.ceetUser?.id, 'view']">{{ teacher.ceetUser?.id }}</a>
          </div>
        </dd>
        <dt><span ceetTranslate="proyectoSosApp.teacher.course">Course</span></dt>
        <dd>
          <span *ngFor="let course of teacher.courses; let last = last">
            <a [routerLink]="['/course', course?.id, 'view']">{{ course.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ceetTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/teacher', teacher.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ceetTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
